.main-body {
    width: 60%;
    background-color: #61aaee;
    border-radius: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    min-height: 95vh;
    position: relative;
}

#picture {
    background-color: black;
    width: 30%;
    height: 350px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}

#greet {
    top: 0px;
    /*left: 27%;*/
    position: relative;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.references {
    margin-top: 25px;
}

p {
    margin-top: 50px;
}
